In [3]:
# Other libraries
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer # For extracting n-grams from a sentence
import spacy

In [34]:
input_list = [
    "For United Kingdom, Item Type with the highest Total Revenue", 
    "Country with the highest monthly percentage decline in Total Profit in the last 3 months"
]

In [5]:
nlp = spacy.load("en_core_web_lg")

In [37]:
for i in range(len(input_list)):
    for token in nlp(input_list[i]):
        # if token.pos_ == "NOUN":
        print(f"{token.text} -> {token.pos_} -> {token.ent_type_}")
    print("---------")

# example = "To take us through this results of the quarter and answer your question, we have with us the from the top \
# Management of Heranba, Mr. R. K. Shetty - Managing Director; Mr. Raunak Shetty - Executive Director, and \
# Mr. Raj Kumar Bafna - Chief Financial Officer."

# for token_ent in nlp(input_list[0]).ents:
#     print(f"{token_ent.text} -> {token_ent.label_}")

For -> ADP ->
United -> PROPN -> GPE
Kingdom -> PROPN -> GPE
, -> PUNCT ->
Item -> PROPN ->
Type -> NOUN ->
with -> ADP ->
the -> DET ->
highest -> ADJ ->
Total -> ADJ ->
Revenue -> NOUN ->
---------
Country -> NOUN ->
with -> ADP ->
the -> DET ->
highest -> ADJ ->
monthly -> ADJ -> DATE
percentage -> NOUN ->
decline -> NOUN ->
in -> ADP ->
Total -> ADJ -> ORG
Profit -> PROPN -> ORG
in -> ADP ->
the -> DET -> DATE
last -> ADJ -> DATE
3 -> NUM -> DATE
months -> NOUN -> DATE
---------

In [38]:
# Infer numbers using POS tags for conversion to character strings
corpus_tokens = nlp(input_list[1])
print('tokens', corpus_tokens)
col_names = ['Text', 'POS', 'ENT']
output_df = pd.DataFrame([], columns = col_names)

for token in corpus_tokens:
    inlist = pd.DataFrame([[token.text, token.pos_, token.ent_type_]], columns=col_names)
    output_df = pd.concat([output_df, inlist], ignore_index=True)

output_df

tokens Country with the highest monthly percentage decline in Total Profit in the last 3 months

          Text    POS   ENT
0      Country   NOUN
1         with    ADP
2          the    DET
3      highest    ADJ
4      monthly    ADJ  DATE
5   percentage   NOUN
6      decline   NOUN
7           in    ADP
8        Total    ADJ   ORG
9       Profit  PROPN   ORG
10          in    ADP
11         the    DET  DATE
12        last    ADJ  DATE
13           3    NUM  DATE
14      months   NOUN  DATE